body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    box-sizing: border-box;
    margin: 0;
}


h1{
    margin: 0;
    margin-left: 15px;
    font-size: 7rem;
    padding: 0;
}

p{
    font-size: 23px;
}

header{
    position: fixed;
    background-color: rgba(51, 51, 51, 0.5);
    top: 0;
    width: 100%;
    z-index: 1100;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}


.header-content{
    font-size: 19px;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}
.header-content ul{
    list-style: none;
    display: flex;
}
.header-content li{
    padding: 2em; 
}


.header-content a{
    text-decoration: none;
    color: #F0FFFF;
}

.homepage{
    place-items: center;
    color: #F0FFFF;
    background: linear-gradient(to top, #051937, #1e4567, #3c7797, #61adc6);
    height: 100vh;
    display: grid;
}

.homepage-content{
    align-items: center;
    
    width:fit-content

}
.homepage img{
    text-align: right;
    width: 50%;
}

.greeting{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: baseline;
    text-align: center;
}
.greeting a{
    text-decoration: none;
    color: white;
}
.greeting a svg{
    width: 35px;
    height: 35px;
}
#linkedin a svg:hover{
    height: 40px;
}
.greeting li{
    padding: 0;
    padding-right: 1em;
    margin: 1em;
}
.greeting ul{
    margin-left: 3em;
    margin-bottom: 0;
    display: flex;
    list-style: none;
}

.intro{
    display: flex;
    justify-content: center;
}

.intro p{
    text-align: left;
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 30px;
    display: flex;
    align-items:center;
    /* flex-direction: column; */
}
.intro p svg{
    height: 2em;
    width: 2em;
    padding-left: 1em;
}

*{
    margin: 0;
}

ul *{
    list-style: none;
}

hr{
    margin:0
}




.about{
    background-color: #051937;
    color: azure;
    /* height: 75vh; */
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#about-content-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
#skills-area{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#skills-container{
    /* border: 1px solid azure; */
    padding:2em;
    
}
#skills-container ul{
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    line-height: 3em;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#skill-icons li{
    padding: 20px;
}
#java-icon{
    
    padding-bottom: 553px;
    
}

#skill-icons svg{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transform: perspective(25px) rotateX(0deg) rotateY(0deg) scale(1);
}

#about-text{
    
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    display: block;
    
    font-size: 19px;
    /* border-left: 1px solid #61adc6;
    border-bottom: 1px solid #61adc6; */
    
}
#about-text h2{
    margin-bottom: 2em;
}
#resume-link{
    margin-left: auto;
    margin-top: 15px;
    display: block;
    color: #091F3B;
    text-decoration: none;
    cursor:pointer;
    text-align: center;
    width: 175px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: azure;
    font-size: 30px;
    justify-content: center;
   
}
.projects{
    /* height: 100vh; */
    background-color:#091F3B;
    /* background-image: url("background7.png"); */
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.projects h2{
    text-align: left;
    padding-top: 2rem;
    margin-left: 4rem;
    color: azure;
    font-size: 35px;
    border-bottom: 1px solid azure;
    width: 45%;
}

.slider-wrapper{
    overflow: hidden;
    width: 50%;
    border: 1px solid white;
}
.image-area{
    /* margin-left: auto;
    margin-right: auto; */
    /* max-width: 100%;
    min-width: 200px; */
    text-align: center;
    border: 1px solid red;
    /* width: 45rem; */ 
    display: flex;
    width: 100%;
    
    
   
}
.image-area img, video{
    padding: 0;
    margin: 0;
    text-align: center;
    /* width: 100%; */
    /* height: 25rem; */
    /* min-width: 200px;  */
    /* margin-left: auto; */
    /* display: block; */ 
    aspect-ratio: 14/4;
}

#description-area{
    /* border: 1px solid cyan; */
    font-size: 18px;
    width:fit-content;
    color: azure;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    min-width: 400px;
    line-height: 30px;
    text-align: center;
    
}
#description-area h3{
    text-align: center;
    margin-bottom: 1em;
}
#tech-stack{
    font-size: 17px;
    margin-top: 2em;
    
    align-items: baseline;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;

}
#tech-stack-list{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;   
    
}
#tech-stack-list li{
    text-align: center;
    align-items: center;
    
    margin: auto;
    justify-content: center;
}
#nav-btns{
    margin:auto;
}

.prev-next-bttns{
    color: azure;
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    border: 3px solid azure;
    border-radius: 50%;
    cursor: pointer;
}
.project-nav-btns{
    justify-content: space-around;
    display: flex;
    list-style: none;
    padding:0;
    padding-top: 40px;
    align-items: center;
}
#github-bttn{
    text-decoration: none;
    padding: 2em 1em 2em 1em;
    color: #051937;
    background-color: azure;
    border-radius: 50%;
    border: none;
}

.contact{
    background-color: #061937;
    color: azure;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
}
#headers{
    display: flex;
    font-size: 32px;
    padding-bottom: 0.5em;
}

.contact-section-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#social-links-div{
    margin-left: auto;
    margin-right: auto;
}
#social-links-div svg{
    width: 2em;
    height: 2em;
    padding-right: 1em;
}
#social-links-div a:hover{
    transform: translate(0, -2px);
}
#social-links-div a{
    display: flex;
    color: azure;
    text-decoration: none;
    line-height: 4em;
    align-items: center;
}
#message-form-div{
    /* border: 1px solid white; */
    margin-left: auto;
    margin-right: auto;
    line-height: 5em;
}


input, textarea{
    display: flex;
    background-color: transparent;
    width: 30rem;
    height: 1.5em;
    border-radius: 10px;
    padding: 0.5em;
    color: azure;
    font-size: 18px;
    border: 1px solid white;
    margin-bottom: 2em;
}
textArea{
    height: 7em;
    margin: 0;
}
#submit-bttn{
   
    width: 7em;
    height: 3em;
    background-color: azure;
    border-radius: 50%;
    border: none

}
#submit-bttn svg{
    width: 2em;
    height: 2em;
}
.lightmode{
    background-color: blue;
    background: radial-gradient(circle, #d5ffe0, #c3fee3, #b1fce9, #9ef9f1, #8cf6fb);
    background-image: radial-gradient(circle, #a9f8fb, #b6faf3, #c5fbed, #d3fce9, #e0fde7);
}