a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin-left: auto;
  padding: 13px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 192, 203, 0.5);
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: pink;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:hover:active {
  transform: scale(0.96);
}

.about {
  background-color: #F5ECFF;
  color: azure;
  align-items: center;
}

#about-content-area {
  display: flex;
  /* align-items: baseline; */
  justify-content: space-around;
  align-items: center;
  columns: 2;
  column-gap: 3em;
  padding: 2em;
}

.skills-area {
  /* border: 1px solid red; */
  width: fit-content;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #F5ECFF;
  border-radius: 50px;
  padding: 2em;
  transition: box-shadow 0.3s, transform 0.3s;
}

.skills-area h2 {
  font-size: 1.5em;
  color: #231D2A;
  font-family: "Roboto";
}

.skills-area:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.015);
}

#skills-container ul {
  /* border: 1px solid black; */
  list-style: none;
  display: grid;
  grid-template-columns: 8vw 8vw 8vw 8vw 8vw;
  grid-template-rows: 2fr 2fr;
  line-height: 2em;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#skill-icons li {
  padding: 20px;
  display: grid;
  justify-content: center;
  text-align: center;
  color: #231D2A;
}

#skill-icons img {
  width: 4rem;
  height: 4rem;
  transition: transform 0.5s;
}

#skill-icons span {
  white-space: nowrap;
}

#skill-icons img:hover {
  transform: scale(1.25);
}

.about-text {
  color: rgb(35, 29, 42);
  height: fit-content;
  size: 20%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  /* display: block; */
  background-color: #F5ECFF;
  font-size: 19px;
  padding: 2em;
  border-radius: 50px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.about-text:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.015);
}

.skills-area:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.015);
}

#skills-container {
  /* border: 1px solid azure; */
  padding: 2em;
}

.about-text {
  color: rgb(35, 29, 42);
  width: fit-content;
  size: 20%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  /* display: block; */
  background-color: #F5ECFF;
  font-size: 19px;
  padding: 2em;
  border-radius: 50px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.about-text:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.015);
}

.about-text h2 {
  padding-bottom: 1em;
  color: rgb(35, 29, 42);
  font-size: 1.5em;
}

#resume-link {
  position: relative;
  margin-left: auto;
}

/*# sourceMappingURL=about-styles.css.map */
