.contact-section{
    padding-bottom: 2rem;
}

#headers{
    padding-bottom: 0.5em;
}

.contact-content-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.army-bomb-container {
    align-items: center;
    transform: translateX(-50%) translateY(20%);
    display: flex;
  }
  
  .handle {
    border-radius: 10px;
    position: relative;
    height: 13vw;
    width: 3vw;
    max-width: 50px;
    max-height: 190px;
    background-color: black;
    z-index: 0;
  }
  
  /* top of the army bomb drawn using pseudo elements on the handle (so that it is drawn behind the glowing animation) */
  .handle:before {
    position: absolute;
    left: 132.5%;
    top: -19%;
    width: 2vw;
    height: 10px;
    background-color: black;
    transform: rotate(45deg);
    z-index: -1;
    content: "";
  }
  
  .handle:after {
    position: absolute;
    left: 168.5%;
    top: -20.5%;
    width: 3px;
    height: 5px;
    background-color: red;
    transform: rotate(45deg);
    z-index: -1;
    content: "";
  }
  
  .army-bomb {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
    width: 10vw;
    height: 10vw;
    max-width: 150px;
    max-height: 150px;
    background-color: white;
    border-radius: 75px;
    animation: light-up 3s infinite ease-in-out;
  }

  
  /* glowing animation */
  @keyframes light-up {
    0%   { box-shadow: 0px 0px 50px 1px white; }
    50%  { box-shadow: 0px 0px 50px 30px white; }
    100% { box-shadow: 0px 0px 50px 1px white; }
  }

  
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .army-bomb-container{
      display: none;
    }
    #message-form-div{
      width: 85%;
    }
  }