.skills-content-container {
    width: fit-content;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 50px;
    padding: 1.5em 0 1.5em 0;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .skills-content-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
  }
  
  .skills-list {
    padding: 0 1em 0 1em;
    list-style: none;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw;
    grid-template-rows: 2fr 2fr;
    line-height: 2em;
    align-items: center;
    justify-content: center;
  }
  
  .skills-list li {
    padding: 20px;
    display: grid;
    justify-content: center;
  }
  
  .skills-list img, .skills-list svg{
    width: 4rem;
    height: 4rem;
    transition: transform 0.5s;
  }
  
  .skills-list span {
    white-space: nowrap;
  }
  
  .skills-list img:hover {
    transform: scale(1.25);
  }
  .skills-list svg:hover {
    transform: scale(1.25);
  }

@media (max-width: 850px){
  .skills-content-container {
      width: 100%;
  }
  .skills-list {
      grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
      line-height: 1.5em; 
  }
  .skills-list li {
      display: grid;
      justify-content: center;
      text-align: center;
      /* color: #231D2A; */
  }
  .skills-content-container{
      border-radius: 0;
      margin-bottom: 1em;
  }
  .skills-list span{
      font-size: 12px;
  }
  .skills-content-container:hover{
      transform: none;
      box-shadow: none;
  } 
}